/* horizontal */

.view-content div hr{
  border-top-color: var(--hr-color) !important;
  border-top-width: 0.25em !important;
  border-top-style: dotted;
  //border: none;
  //padding-top: 2px;
  //background-image: repeating-linear-gradient(90deg,var(--hr-color) 0 0.40em, #0000 0 0.65em) !important;
}

/* <span class="vl"/> */

span.vl{
  border-left-color: rgba(59, 67, 87, 0.8) !important;
  border-left-width: 0.2em !important;
  border-left: dotted 3px;
  margin-left: 1em;
  margin-right: 1em !important;
}

/* title */

.markdown-preview-view .inline-title
{
  margin-top: 1em;
  margin-bottom: 0.9em;
}

.inline-title{
  color: var(--italic-color);
  color: var(--h1-color);
  //color: rgb(var(--ctp-overlay2));
  //color: var(--color-accent);
  //font-style: italic;
  //font-family: serif;
  font-size: 1.12em;
  font-weight: 600 ;
  border-bottom-color: var(--hr-color) !important;
  border-bottom-width: 0.217em !important;
  border-bottom-style: dotted !important;
  padding-bottom: 0.8em !important;
}
