/* horizontal */

.view-content div hr{
  border-top-color: var(--hr-color) !important;
  border-top-width: 0.24em !important;
  border-top-style: dotted;
  //border: none;
  //padding-top: 2px;
  //background-image: repeating-linear-gradient(90deg,var(--hr-color) 0 0.40em, #0000 0 0.65em) !important;
}

/* <span class="vl"/> */

span.vl{
  border-left-color: rgba(59, 67, 87, 0.8) !important;
  border-left-width: 0.2em !important;
  border-left: dotted 3px;
  margin-left: 1em;
  margin-right: 1em !important;
}

/* title */

.inline-title{
  border-bottom-color: var(--hr-color) !important;
  border-bottom-width: 0.17em !important;
  border-bottom-style: dotted !important;
  padding-bottom: 10px !important;
}
