/*
.is-flashing{
  background-color: rgba(225, 208, 0, 0.10) !important;
}
*/

.search-result-file-matched-text{
  background-color: transparent !important;
  color: var(--color-accent) !important;
  font-weight: 600;
}

.suggestion-highlight{
  color: var(--color-accent) !important;
}
