.workspace-leaf-content[data-type="markdown"] table thead,
.workspace-leaf-content[data-type="canvas"] table thead
{
  background-color: rgba(100, 110, 120, 0.15); !important;
}

.workspace-leaf-content[data-type="markdown"] table thead,
.workspace-leaf-content[data-type="canvas"] table thead,
.workspace-leaf-content[data-type="markdown"] table td,
.workspace-leaf-content[data-type="canvas"] table td,
.workspace-leaf-content[data-type="markdown"] table th,
.workspace-leaf-content[data-type="canvas"] table th
{
  border-width: 2px !important;
  //border-width: 0px !important;
  border-color: #4E505A !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;

}
