.workspace-leaf-content[data-type="markdown"] table thead,
.workspace-leaf-content[data-type="canvas"] table thead
{
  background-color: #3A3040; !important;
}

.workspace-leaf-content[data-type="markdown"] table thead,
.workspace-leaf-content[data-type="canvas"] table thead,
.workspace-leaf-content[data-type="markdown"] table td,
.workspace-leaf-content[data-type="canvas"] table td,
.workspace-leaf-content[data-type="markdown"] table th,
.workspace-leaf-content[data-type="canvas"] table th
{
  border-width: 2px !important;
  //border-width: 0px !important;
  border-color: var(--hr-color) !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;

}

/* -- Strikeline -- */

.markdown-source-view.is-live-preview .cm-strikethrough, del
{
  text-decoration-color: rgba(222, 222, 224, 0.77) !important;
  text-decoration-thickness: 0.12em;
}

.markdown-source-view:not(.is-live-preview) .cm-strikethrough
{
  text-decoration: none !important;
}
