/* ------------------- */
/* ---- Both mode ---- */
/* ------------------- */

/* top-right menu */
.titlebar-button-container.mod-right{
  background-color: inherit !important;
}

/* file browser */
.tree-item-children{
  border: none !important;
}

/* bookmark header */
.workspace-tab-container{
//  border: none !important;
}

/* border */

.workspace-tab-header-container{
//  border-left: none !important;
}

.view-header{
  border-bottom-color: var(--tab-outline-color);
  border-bottom-width: var(--tab-outline-width);
  border-bottom-style: solid;
}

.Island{
  border-color: var(--tab-outline-color);
  border-width: var(--tab-outline-width);
  border-style: solid;
}

.mobile-misc-tools-container{
  border-color: var(--tab-outline-color) !important;
  border-width: var(--tab-outline-width) !important;
  border-style: solid !important;
}

.Stack_horizontal>button.ToolIcon_type_button.ToolIcon{
  background-color: inherit !important;
}

/* -- fix colors for tab button -- */

.mod-left-split .mod-top .workspace-tab-header.is-active,
.mod-right-split .mod-top .workspace-tab-header.is-active
{
  color: rgb(var(--ctp-overlay2)) !important;
  background-color: rgba(43, 43, 44, 0.4);
  border-radius: 7px;
  border-color: var(--tab-outline-color);
  border-width: var(--tab-outline-width);
  border-style: solid;
}

.mod-left-split .mod-top .workspace-tab-header.is-active:hover,
.mod-right-split .mod-top .workspace-tab-header.is-active:hover
{
  background-color: rgba(43, 43, 44, 0.8);
}

.mod-left-split .mod-top .workspace-tab-header-inner-icon,
.mod-right-split .mod-top .workspace-tab-header-inner-icon
{
  color: rgb(var(--ctp-overlay2)) !important;
}

.titlebar-button
{
  color: rgb(var(--ctp-overlay2));
}

.workspace-tab-header-inner-title
{
  color: rgb(var(--ctp-overlay2)) !important;
}
