/* ------------------- */
/* ---- Read mode ---- */
/* ------------------- */

.markdown-preview-sizer
{
  padding-top: 2px !important;
  padding-bottom: 10px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  background-color: #222222;
  border-radius: 20px;
  border-color: var(--tab-outline-color);
  border-width: var(--tab-outline-width);
  border-style: solid;
}

.markdown-preview-view .inline-title
{
  margin-top: 0.7em;
}

.inline-title
{
  color: var(--italic-color);
  //color: var(--h1-color);
  //color: rgb(var(--ctp-overlay2));
  //font-style: italic;
  font-family: serif;
  font-size: 1.4em;
}

.inline-title{
  border-bottom-color: var(--hr-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0.35em !important;
}

/* ------------------- */
/* ---- Edit mode ---- */
/* ------------------- */

.markdown-source-view .inline-title
{
  margin-top: 0.0em;
}

.cm-sizer{
  background-color: #222222;
  border-radius: 20px;
  padding: 24px !important;
  border-color: var(--tab-outline-color);
  border-width: var(--tab-outline-width);
  border-style: solid;
}

.cm-content
{
  padding: 24px !important;
}

.cm-content,
.cm-contentContainer
{
  block-size: fit-content !important;
}

/* ------------------- */
/* ---- Both mode ---- */
/* ------------------- */

/*
.nav-file-title.is-active,
.nav-file-title:hover,
.tree-item-self.is-clickable:hover
{
  background-color: rgba(149, 148, 200, 0.17) !important;
}
*/
