/* --- 0. VARS --- */

body{
  --left-icons-colors: var(--italic-color);
  --top-icons-colors: rgb(var(--ctp-overlay2));
  --top-icons-active-hover: rgb(var(--ctp-overlay2));
  --top-icons-active-hover-bg: rgba(var(--ctp-flamingo), 0.3);
}

/* --- 1. CENTER TABS (INACTIVE) --- */

/* active but not focused */
.workspace-split.mod-root .workspace-tab-header.is-active{
  color: var(--italic-color)
}

.workspace-split.mod-root .workspace-tab-header:not(.is-active){
  color: var(--italic-color) !important;
  background-color: rgb(var(--ctp-crust)) !important;
  border-color: var(--tab-outline-color);
  border-width: var(--tab-outline-width);
  border-style: solid;
  font-weight: 600;
}

.workspace-split.mod-root .workspace-tab-header{
  font-weight: 600;
}

/* --- 2. ICONS (LEFT) --- */

.workspace-ribbon .side-dock-actions .clickable-icon,
.workspace-ribbon .side-dock-settings .clickable-icon
{
  color: var(--top-icons-colors);
  border-radius: 6px;
}

.workspace-ribbon .side-dock-actions .clickable-icon:hover,
.workspace-ribbon .side-dock-settings .clickable-icon:hover
{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  color: var(--top-icons-colors);
}

/* --- 3. ICONS (TOP TABS) --- */

/* INACTIVE */
.mod-left-split .mod-top .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-icon,
.mod-right-split .mod-top .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-icon
{
  color: var(--top-icons-colors);
}

/* ACTIVE */
.mod-left-split .mod-top .workspace-tab-header.is-active,
.mod-right-split .mod-top .workspace-tab-header.is-active
{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  border-radius: 6px;
}

.mod-left-split .mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.mod-right-split .mod-top .workspace-tab-header.is-active .workspace-tab-header-inner-icon
{
  color: var(--top-icons-active-hover) !important;
}

/* AND HOVER */
.mod-left-split .mod-top .workspace-tab-header:not(.is-active):hover,
.mod-right-split .mod-top .workspace-tab-header:not(.is-active):hover
{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  border-radius: 6px;
}

.mod-left-split .mod-top .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-icon,
.mod-right-split .mod-top .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-icon
{
  color: var(--top-icons-active-hover) !important;
}

/* --- 4. TOGGLE BUTTONS --- */

.sidebar-toggle-button .clickable-icon{
  color: var(--top-icons-colors);
}

.sidebar-toggle-button .clickable-icon:hover{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  border-radius: 6px;
  color: var(--top-icons-active-hover);
}

/* --- 5. CLOSE MENU --- */

.titlebar-button
{
  color: var(--top-icons-colors);
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 11px !important;
  padding-right: 11px !important;
  opacity: 1;
}

.titlebar-button:hover
{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  border-radius: 5px;
  color: var(--top-icons-active-hover) !important;
}

/* --- 6. ADD TAB + ACTIONS LIST --- */

.workspace-tab-header-tab-list .clickable-icon,
.workspace-tab-header-new-tab .clickable-icon
{
  color: var(--top-icons-colors);
}

.workspace-tab-header-tab-list .clickable-icon:hover,
.workspace-tab-header-new-tab .clickable-icon:hover
{
  background-color: var(--top-icons-active-hover-bg);
  box-shadow: 0px 0px 2px 0px var(--top-icons-active-hover-bg);
  border-radius: 6px;
  color: var(--top-icons-active-hover) !important;
}
