/* STICK (to left tab) */

body{
  --left-icons-colors: var(--italic-color);
  --top-icons-colors: rgb(var(--ctp-overlay2));
}

.workspace-ribbon
{
  margin-right: 0px;
  border-right-width: 0px;
  padding-right: 0px;
  padding-top: 38px;
  padding-bottom: 48px;
  margin-left: 6px;
  max-width: 36px;
}

.workspace-ribbon .side-dock-actions,
.workspace-ribbon .side-dock-settings
{
  background-color: rgba(var(--ctp-base), 0.6);
  border-color: var(--tab-outline-color);
border-style: solid;
  border-left-width: var(--tab-outline-width);
  border-top-width: var(--tab-outline-width);
  border-bottom-width: var(--tab-outline-width);
  border-right-width: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.workspace-ribbon .side-dock-actions .clickable-icon,
.workspace-ribbon .side-dock-settings .clickable-icon
{
  color: var(--left-icons-colors);
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.workspace-ribbon .side-dock-actions .clickable-icon:first-child,
.workspace-ribbon .side-dock-settings .clickable-icon:first-child
{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-top: 7px;
}

.workspace-ribbon .side-dock-actions .clickable-icon:last-child,
.workspace-ribbon .side-dock-settings .clickable-icon:last-child
{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-bottom: 7px;
}

.workspace-ribbon .side-dock-actions .clickable-icon:first-child,
.workspace-ribbon .side-dock-settings .clickable-icon:first-child,
.workspace-ribbon .side-dock-actions .clickable-icon:last-child,
.workspace-ribbon .side-dock-settings .clickable-icon:last-child
{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* Toggle */

.workspace-ribbon .sidebar-toggle-button.mod-left
{
  margin-left: 6px;
}
